* {
    margin: 0px;
    padding: 0px;
}

body {
    padding:20px;
    background-color: salmon;
    color: peachpuff;
    font-size: 20px;
}

#nav {
    display: flex;
    justify-content: space-between;
    padding:10px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

#main {
    padding:20px 150px 20px 150px;
    margin: 0px auto;
    width: 900px;
}

.messages {
    margin: 20px;
}

.comment {
    margin: 5px 10px 5px 80px;
}

p {
    margin: 20px 10px 20px 0px;
    word-wrap: break-word;
}

input#done {
    margin-left: 83%;
    padding: 5px;
    border-radius: 10px;
    background-color: wheat;
    color: salmon;
}

form {
    width: 350px;
    padding: 20px;
}

div.spaces {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.toright {
    margin-left:15px;
}

a {
    color: peachpuff;
}